.card {
    background-color: #ffffff;
    border-radius: 16;
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    -ms-border-radius: 16;
    -o-border-radius: 16;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    color: #67748e;
    font-size: 17px;

}

.edit-btn {
    margin-right: 10px;
}